@use "../abstracts/index" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  color: $white-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

a {
  text-decoration: none;
  color: $white-color;
}
