@use "variables" as *;

// RESPONSIVE BREAK-POINTS

@mixin breakpoint($bp) {

    @if $bp == tablet{
        @media (min-width: $bp-tablet){
            @content;
        }
    }

    @if $bp == tablethorizontal{
        @media (min-width: $bp-tablet-horizontal){
            @content;
        }
    }

    @if $bp == desktop{
        @media (min-width: $bp-desktop){
            @content;
        }
    }

    @if $bp == desktopm{
        @media (min-width: $bp-desktop-m){
            @content;
        }
    }
    @if $bp == desktopl{
        @media (min-width: $bp-desktop-l){
            @content;
        }
    }

    @if $bp == desktopxl{
        @media (min-width: $bp-desktop-xl){
            @content;
        }
    }
}


//FONTS  

@mixin font-variant ($font){
    @if $font == tittle {
        font-family: $p-font;
        font-weight: bold;
        font-size: 2rem;
    }

    @if $font == text {
        font-family: $p-font;
        font-weight: normal;
        font-size: 1.2rem;
    }
}

@mixin box{
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.35); // caja semitransparente 
    backdrop-filter: blur(2px); //  efecto cristal 
    border-radius: 12px;
    z-index: 1;
    border: 2px solid $white-color;

} 

@mixin btn{

    @include box();

    text-shadow: 2px 2px 4px rgba(0, 0, 0,4), -4px 0px 10px #dff955, 4px 0px 14#52c5e4, 0px 0px 20px #52c5e4;
    @include font-variant(text);

    

    &:hover{
        background-image: linear-gradient($gradient-color);
        color: black;

        text-shadow: 3px 3px 6px rgba(0,0,0,0.35), 6px 6px 12px rgba(0,0,0,0.25);
        @include box-sadow();
        
    }


}

@mixin font-gradient{
    background: linear-gradient($gradient-color); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-decoration: none;

}

@mixin box-sadow{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -4px 0px 10px #dff955, 4px 0px 14px #52c5e4, 0px 0px 20px #52c5e4;
    

}
@mixin text-sadow{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -4px 0px 10px #dff955, 4px 0px 14px #52c5e4, 0px 0px 20px #52c5e4;
    

}

