
// Devices sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;

//fonts

$p-font: 'Yrsa';
$s-font: 'Kanit';


//colors

$blue-color:  #52c5e4;
$green-color: #dff955;
$gray-color: #242424;
$lightgray-color:#979797;
$bone-color: #D9D9D9;
$white-color: #FFFFFF;

$gradient-color: (90deg,rgba(223, 249, 85, 1) 31%, rgba(82, 197, 228, 1) 54%);