@use "../abstracts/index" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  
  figure{
    margin: 0;
    img{
      width: 16rem;
      height: auto;      
    }
  }

  ul{
    display: flex;
    gap: 1.8rem;
    @include font-variant(tittle);
    
    font-size: 1.2rem;
    align-items: center;
    position: relative;
    justify-content: space-between;
    
    li a{
      padding: 0.5rem 1.5rem; 
      position: relative;
      display: block;

      &:hover{
        background: linear-gradient($gradient-color); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
        text-decoration: none;

       
        
       

      }
    }


  
    div.gradient{
      background: linear-gradient($gradient-color);
      display: flex;
      gap: 0.3rem;
      margin-left: auto;
         
         
      @include font-variant(tittle);
      font-size: 1rem;
      a{
        padding: 0.2rem;
        &:hover{
          -webkit-text-fill-color:black;
        }    
        
      }

    }

    

  }

}


