@use "../abstracts/index" as *;


.hero{
    position: relative;
    margin-top: 1.5rem;
    figure{
        margin: 0;
        overflow: hidden;
        object-fit: cover;
        border-radius: 16px;
        img{
            width: 100%;
            
        }

    }
    margin-bottom: 2rem;
    .hero__container{
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        
        
        

        h1{
            position: relative;
            top: 120px;
            @include font-variant(tittle);
            font-size: 5rem;
            padding: 3rem;
            margin-left: 20px;
            width: 670px;
            line-height: 4rem;
            
            
            transform: perspective(350px) rotateY(12deg)
            rotateZ(-8deg)
            rotateX(5deg)
            ; 
            
           
            
            transform-origin: left;

            
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -4px 0px 10px #dff955, 4px 0px 14px #52c5e4, 0px 0px 20px #52c5e4;
            
        }

            
            .hero__parrafo1 , .hero__parrafo2{ 
                @include font-variant(text);
                
                @include box();
                border: 0;

                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -4px 0px 10px #dff955, 4px 0px 14px #52c5e4, 0px 0px 20px #52c5e4;


            } 
            /* Borde brillante */

            .hero__parrafo1::before, .hero__parrafo2::before  { 
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit; 
                padding: 2px; /* grosor del borde */
                background: linear-gradient(45deg, #dff955, #52c5e4);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor; mask-composite: exclude; z-index: -1; 
            }

            .hero__parrafo1{
                position: absolute; 
                right: 150px;
                top: 5px;
                display: inline-block;
                width: 620px;
            }

            .hero__parrafo2{
                position: absolute; 
                top: 270px;
                right: 5px;
                display: inline-block;
                width: 620px;
            }

           
    }
}

// SOBRE NOSOTROS 

.sobre-nosotros{

    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
         
    @include box();
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -4px 0px 10px #dff955, 4px 0px 14px #52c5e4, 0px 0px 20px #52c5e4;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -4px 0px 10px #dff955, 4px 0px 14px #52c5e4, 0px 0px 20px #52c5e4;

    
    


    img{
        width: 16rem;
    }
    p{
        @include font-variant(text);
        margin: 0;
        text-align: center;
    }

    .btn{
        margin-left: auto;
        white-space: nowrap;

    }
}

.home__section{
    display: flex;
    gap:1.5rem;
    margin-bottom: 1.5rem;

    article{
        @include box();
        @include box-sadow();
        text-align: center;
        h2{
            @include font-variant(tittle);
            @include font-gradient();
            display: inline-block;
            
        }

        dl dt h4{
            @include font-variant(tittle);
            font-size: 1.6rem;
            font-weight: 600;
            color: $green-color;
            

        }
        dl dd{
            @include font-variant(text);
            margin-bottom: 1rem;
            margin-left: 0;
            
        }
        a.btn{
            display: block;
            width: fit-content; 
            margin: 0 auto;
            
        }

    }
}